.main-screen{
    margin: 17px;
}
.title{
    font-weight: bolder;
    margin-left: 5px;
}

.text_first{
    font-weight: bold;
}
.text_light{
    font-weight: lighter;
    color: darkgrey;
    font-size: smaller;
}

.top{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-top: 10px;
}
.top__body{
    display: flex;
    margin: 10px;
}

.right{
    padding: 10px;
}

span{
    font-size: 12px;
}

.buttons1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons1__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    width: 65px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.3);
}

.buttons2__container1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffce33;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.buttons2__container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: black;
    font-size: 14px;
}
#book{
    color:white
}

.buttons2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle__books{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    margin: 2px;
}

img{
    margin: 5px;
    padding: 2px;
}

.stars1{
    margin-top: 10px;
}